@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
body a {
  text-decoration: none;
}
body a:hover,
body a:focus {
  text-decoration: none;
}
body input:focus,
body button:focus,
body textarea:focus {
  outline: none;
}

.header-nav ul li {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}
.header-nav .form-control {
  display: flex;
  padding: 1rem 2rem;
  position: relative;
  background-color: #FFFFFF;
  border: #3C3737;
  height: 55px;
}
.header-nav .form-control .text-area {
  border: none;
  padding: 0px 25px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.header-nav .form-control .v-line {
  border-left: 3px solid #F2F2F2;
  height: 32px;
  position: absolute;
  left: 80%;
  top: 15px;
}

.hero-area {
  padding-bottom: 120px;
}
.hero-area h1 {
  font-size: 74px;
  font-weight: 700;
  line-height: 88px;
}
.hero-area h1 span {
  font-weight: 500;
}
.hero-area p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 85%;
}
.hero-area .btn {
  font-weight: 500;
  line-height: 1.25;
}
.hero-area .btn-lg {
  padding: 1.25rem 2rem;
  font-size: 1.25rem;
  border-radius: 0.8rem;
}
.hero-area .btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.hero-area .btn-white {
  background-color: #FFFFFF;
  color: #f0ad4e;
}
.hero-area .main-img {
  position: relative;
  z-index: 2;
  image-rendering: pixelated;
}
.hero-area .card-1 {
  position: absolute;
  top: 177px;
  right: 390px;
  z-index: 3;
}
.hero-area .card-2 {
  position: absolute;
  top: 124px;
  z-index: 1;
  right: -100px;
}
.hero-area .abs {
  position: absolute;
  top: 386px;
  z-index: -1;
  right: 136px;
}

.feature-cards {
  background-color: #FEF5F5;
  padding: 105px 205px;
}
.feature-cards h1 {
  font-size: 39px;
  font-weight: 700;
  line-height: 54px;
}
.feature-cards h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.feature-cards .col {
  position: relative;
  z-index: 88;
}
.feature-cards .col .card {
  padding: 50px 0px 17px;
  border-radius: 0.75rem;
  border: none;
}
.feature-cards .col .card::after {
  content: "";
  position: absolute;
  height: 108%;
  width: 100%;
  border-radius: 0.75rem;
  visibility: hidden;
  background-color: rgba(247, 13, 13, 0.568);
  z-index: 4;
  transform: rotate(-5deg);
  top: -6px;
  left: 22px;
}
.feature-cards .col .card:hover::after {
  visibility: visible;
  z-index: -55;
}
.feature-cards .col .card .card-icon img {
  height: 40px;
}
.feature-cards .col .card .card-body {
  padding-top: 70px;
}
.feature-cards .col .card .card-body .card-title {
  padding-bottom: 15px;
  font-weight: 600;
  line-height: 33px;
}
.feature-cards .col .card .card-body .card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #676767;
  padding-bottom: 15px;
}

.service-area {
  padding: 400px 0px 200px;
}
.service-area h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #03A66B;
}
.service-area .service-text {
  padding-left: 45px;
}
.service-area h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
}
.service-area p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 78%;
}
.service-area .width {
  width: 81%;
}
.service-area .btn {
  font-weight: 500;
  line-height: 1.25;
}
.service-area .btn-lg {
  padding: 1.25rem 2rem;
  font-size: 1.25rem;
  border-radius: 0.8rem;
}
.service-area .service-img {
  position: relative;
}
.service-area .service-img .top-img {
  position: absolute;
  bottom: -220px;
  left: 195px;
  z-index: 3;
}
.service-area .service-img .back-img {
  position: absolute;
  bottom: -293px;
  left: 90px;
  z-index: 1;
}
.service-area .service-img .cards {
  position: absolute;
  bottom: -439px;
  right: -287px;
  z-index: 5;
}
.service-area .service-img .spinner-border.spin {
  position: absolute;
  bottom: -241px;
  left: 174px;
  height: 430px;
  width: 450;
  border: 1em solid currentColor;
  border-right-color: transparent;
  z-index: 2;
  width: 430px;
}

.delivery-area {
  padding: 0px 130px;
  padding-top: 200px;
}
.delivery-area .color {
  color: #F9BA45;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.delivery-area h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
}
.delivery-area .btn {
  font-weight: 500;
  line-height: 1.25;
}
.delivery-area .btn-lg {
  padding: 1.25rem 2rem;
  font-size: 1.25rem;
  border-radius: 0.8rem;
}
.delivery-area p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 85%;
}
.delivery-area .delivery-img {
  position: relative;
}
.delivery-area .bottom-img {
  position: absolute;
  bottom: -210px;
}
.delivery-area .service-card-2 {
  position: absolute;
  bottom: -189px;
  right: -113px;
}
.delivery-area .spinner-border.spin-2 {
  position: absolute;
  bottom: -30px;
  right: 624px;
  height: 35px;
  width: 35px;
  border: 0.5em solid currentColor;
  border-right-color: transparent;
}

/*# sourceMappingURL=style.css.map */
