@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    position: relative;
    // line-height: 1.8;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;

    a {
        text-decoration: none;
    }

    a:hover,
    a:focus {
        text-decoration: none;
    }

    input:focus,
    button:focus,
    textarea:focus {
        outline: none
    }
}

//  header-area
.header-nav {

    ul {
        li {
            font-size: 16px;
            font-weight: 500;
            line-height: 25px;
        }
    }

    .form-control {
        display: flex;
        padding: 1rem 2rem;
        position: relative;
        background-color: #FFFFFF;
        border: #3C3737;
        height: 55px;

        .text-area {
            border: none;
            padding: 0px 25px;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
        }

        .v-line {
            border-left: 3px solid #F2F2F2;
            height: 32px;
            position: absolute;
            left: 80%;
            top: 15px;
        }
    }
}

//  hero-area

.hero-area {
padding-bottom: 120px;
    h1 {
        font-size: 74px;
        font-weight: 700;
        line-height: 88px;

        span {
            font-weight: 500;
        }
    }

    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        width: 85%;
    }

    .btn {
        font-weight: 500;
        line-height: 1.25;
    }

    .btn-lg {
        padding: 1.25rem 2rem;
        font-size: 1.25rem;
        border-radius: 0.8rem;
    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 24px;
        line-height: 1.33;

    }

    .btn-white {
        background-color: #FFFFFF;
        color: #f0ad4e;

    }

    .main-img {
        position: relative;
        z-index: 2; 
        image-rendering: pixelated
    }

    .card-1 {
        position: absolute;
        top: 177px;
        right: 390px; 
        z-index: 3;     
    }
    .card-2 {
        position: absolute;
        top: 124px;
        z-index: 1;
        right: -100px
    }

    .abs {
        position: absolute;
        top: 386px;
        z-index: -1;
        right: 136px;
    }

}